<div class="navbar">
  <div class="navbar-left">
    <img src="https://raw.githubusercontent.com/mrashis06/SmartSetu-AI/main/assets/logo.png" class="logo-img" alt="SmartSetu-AI Logo">
    <span class="nav-title">SmartSetu-AI</span>
  </div>
  <div class="navbar-right">
    <a href="/" target="_self">Home</a>
    <a href="/Dashboard" target="_self">Dashboard</a>
    <a href="/Credit_Predictor" target="_self">Credit Score Predictor</a>
    <a href="/Charts" target="_self">Charts Visualisation</a>
    <a href="/Govt_Schemes" target="_self">Govt Schemes</a>
  </div>
</div>
