<div class="navbar">
  <div class="navbar-left">
    <img src="https://raw.githubusercontent.com/mrashis06/SmartSetu-AI/main/assets/logo.png" class="logo-img" alt="SmartSetu-AI Logo">
    <span class="nav-title">SmartSetu-AI</span>
  </div>
  <div class="navbar-right">
    <a href="/" target="_self">Home</a>
    <a href="/Vendor_Registration" target="_self">Vendor Registration</a>
    <a href="/Credit_Report" target="_self">Credit Report</a>
    <a href="/Visual_Insights" target="_self">Visual Insights</a>
    <a href="/Govt_Schemes" target="_self">Govt Schemes</a>
  </div>
</div>
